/* Styles du sidebar */
section[data-testid='stSidebar'] > div {
    width: 75px; /* Largeur minimale du sidebar */
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ECF5EC;
    overflow-x: hidden;
    transition: 0.5s ease;
    padding-top: 60px;
    white-space: nowrap;
}

/* Styles pour le bouton d'ouverture du sidebar */
button[kind="header"] {
    background-color: transparent;
    color: #55B43B;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    margin: 10px;
}

/* Réagir au survol pour élargir le sidebar */
section[data-testid='stSidebar'] > div:hover {
    width: 300px; /* Largeur étendue au survol */
}

/* Masquer le bouton du header */
header[data-testid="stHeader"] {
    display: none;
}

/* Réglages spécifiques pour les appareils mobiles */
@media screen and (max-width: 768px) {
    section[data-testid='stSidebar'] > div {
        width: 100%; /* Remplit la largeur de l'écran sur mobile */
        padding-top: 0;
    }

    /* Afficher le bouton du header sur mobile */
    header[data-testid="stHeader"] {
        display: block;
    }

}